html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
}

/* Added a new rule for the body element to allow for background color change */
body {
  background-color: #474747; /* Initial background color */
  color: white;
}

header {
  background-color: #383838;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  color: #ffffff;
}

header h1 {
  font-size: calc(15px + 2vw);
  margin: 0;
}

.text-box {
  background-color: #383838;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  width: 65vw; /* 20% of the viewport width */
  margin: 0 auto; /* Center on the x-axis */
  transform: translateY(10%);
  color: #ffffff;
}
.text-box p {
  font-size: calc(2px + 2vw); /* Scale text with viewport width */
  margin: 0;
}


