html {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: 'Arial', 'Helvetica', 'Verdana', sans-serif;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px; /* Adjust the height of the bar */
  background-color: rgba(0, 0, 0, 0.2); /* Adjust the RGB values and transparency as needed */
  z-index: -1; /* This places the bar behind the text */
}

.center-upper {
  position: absolute;
  top: 2.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.65em;  /* Adjust the font size as needed */
}

.center-upper {
  color: white; /* Change the color value to your desired color */
}



:root {
  --custom-background-color: grey;
}
body {
  background-color: var(--custom-background-color);
}
